---
http_interactions:
- request:
    method: get
    uri: https://www.themealdb.com/api/json/v1/1/filter.php?c=Seafood
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"meals":[{"strMeal":"Baked salmon with fennel & tomatoes","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1548772327.jpg","idMeal":"52959"},{"strMeal":"Cajun
        spiced fish tacos","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/uvuyxu1503067369.jpg","idMeal":"52819"},{"strMeal":"Escovitch
        Fish","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/1520084413.jpg","idMeal":"52944"},{"strMeal":"Fish
        fofos","strMealThumb":"https:\/\/www.themealdb.com\/images\/media\/meals\/a15wsa1614349126.jpg","idMeal":"53043"},{"strMeal":"Fish
        pie","strMealThumb":"https:\/\/www.the[...]
